/* Estilos para el Sidebar */
.sidebar {
  width: auto; /* Ancho inicial del Sidebar */
  height: 90vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #5b5a5a;
  border-right: 1px solid #ccc;
  padding: 20px;
  color: white;
  transition: width 0.3s ease; /* Efecto de transición de ancho */
}

.sidebar.hidden {
  width: 0; /* Ancho 0 cuando está oculto */
  overflow: hidden;
}
.sidebar-content {
  max-height: 90vh; /* Altura máxima del contenido del sidebar */
  overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
}

/* Estilo para el botón "Toggle Sidebar" en el rincón superior izquierdo de la página */
.toggle-sidebar-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px; /* Posición en el rincón superior izquierdo */
  z-index: 2; /* Coloca el botón por encima del contenido */
}

/* Estilos para la lista de chat-titles en SidebarChats */
.chat-titles {
  margin-top: 20px; /* Agrega margen superior para separar del botón Toggle Sidebar */
}

.chat-titles ul {
  list-style: none; 
  padding: 0; 
}

.chat-title-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.chat-title-item span {
  flex-grow: 1; 
  cursor: pointer;
}

.chat-title-item button {
  margin-left: 10px; /* Espacio entre el título y los botones Edit o Save */
}

/* Estilos para el botón "Editar" en SidebarChats */
.edit-button {
  margin-left: 10px; /* Espacio a la izquierda del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.save-button {
  margin-left: 10px; /* Espacio a la izquierda del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.create-chat-button {
  border: 1px solid #ccc; /* Borde gris */
  padding: 10px 20px; /* Espacio interno */
  background-color: transparent; /* Fondo transparente */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */

  /* Estilo de hover */
  transition: background-color 0.3s ease;
}

.create-chat-button:hover {
  background-color: #342e2e; /* Cambia el fondo al pasar por encima */
}
